Formularios+-+T-Shirt.json
{
  "name": "Formularios - T-Shirt",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -352,
        48
      ],
      "id": "06322ae6-2ffb-4070-9222-467360b637c6",
      "name": "When clicking ‘Execute workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1OWYFxtxHLpfDpwxa26euIUjXNG4qPO9rh40_ny-3778",
          "mode": "list",
          "cachedResultName": "T-Shirt Respuestas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OWYFxtxHLpfDpwxa26euIUjXNG4qPO9rh40_ny-3778/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1236660838,
          "mode": "list",
          "cachedResultName": "Respuestas de formulario 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OWYFxtxHLpfDpwxa26euIUjXNG4qPO9rh40_ny-3778/edit#gid=1236660838"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        16,
        272
      ],
      "id": "6347e0a7-dbb9-4ea8-a828-24a0a779f682",
      "name": "Obtener solicitudes de camisetas",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "v9l6XFDnPiSeFjl9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9ba701c4-df90-4b3b-9923-3ac28d435129",
              "leftValue": "={{ $json['Dirección de correo electrónico'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "f7885df2-57f5-43df-afef-a0d81613bd56",
              "leftValue": "={{ $json['Fecha de verificación'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        224,
        272
      ],
      "id": "af2714e7-d0e1-40c0-a958-fa354dafb770",
      "name": "Filtrar registros sin correo eletrónico"
    },
    {
      "parameters": {
        "content": "## Google Sheet\nLeer y filtrar solicitudes",
        "height": 304,
        "width": 576,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -32,
        176
      ],
      "id": "dc3a7505-8d77-4810-9927-89630f05472f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        400,
        272
      ],
      "id": "d7baf814-9ccb-4216-8c25-8a9032de923b",
      "name": "Agrupar solicitudes"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1OWYFxtxHLpfDpwxa26euIUjXNG4qPO9rh40_ny-3778",
          "mode": "list",
          "cachedResultName": "T-Shirt Respuestas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OWYFxtxHLpfDpwxa26euIUjXNG4qPO9rh40_ny-3778/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1616070199,
          "mode": "list",
          "cachedResultName": "T-Shirt Inventario",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OWYFxtxHLpfDpwxa26euIUjXNG4qPO9rh40_ny-3778/edit#gid=1616070199"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        640,
        272
      ],
      "id": "cce60819-7998-4efc-8bd9-619d4848fde8",
      "name": "Obtener inventario",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "v9l6XFDnPiSeFjl9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Google Sheet\nObtener inventario",
        "height": 304,
        "width": 672,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        576,
        176
      ],
      "id": "6984e393-b14f-4c15-b779-3462ef8ddd81",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        848,
        272
      ],
      "id": "521a46f0-9580-4fb1-841f-a2b4f7312dc0",
      "name": "Agrupar inventario"
    },
    {
      "parameters": {
        "jsCode": "// const items = $input.all();\n// const filteredItems = items.filter((item) => item?.json[\"Email Address\"]);\n// return filteredItems.map((item) => item.json);\n\n\nreturn $input.all().filter((item) => !!item.json[\"Email Address\"])"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "fb6675b0-3954-4bf1-96f6-e94e91c87cb6",
      "name": "Filtrar registros con correo electrónico"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst inventory = items.map((item) => item.json.data).flat();\nconst newOrders = $('Agrupar solicitudes').first().json.data;\n\nfor (const newOrder of newOrders) {\n  const sizeProduct = inventory.find(item => item.Talla === newOrder['Talla de camiseta']);\n\n  // No se encuentra el producto por talla\n  if ( !sizeProduct ) continue;\n  \n  if ( !sizeProduct.Inventario ) continue;\n\n  // No hay existencias\n  if ( sizeProduct.Inventario <= 0) continue;\n\n  // Esto muta el item en el arreglo\n  sizeProduct.Inventario--;\n  newOrder.isSuccess = true;\n  \n}\n\n\n\nreturn {\n  inventory: inventory,\n  orders: newOrders,\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        272
      ],
      "id": "68ff4a07-2b05-4572-9887-13bf5f585460",
      "name": "Reducir inventario"
    },
    {
      "parameters": {
        "fieldToSplitOut": "orders",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1440,
        272
      ],
      "id": "00db7b96-a89d-4adc-8256-10169a5ceccb",
      "name": "Extraer detalle de ordenes"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1OWYFxtxHLpfDpwxa26euIUjXNG4qPO9rh40_ny-3778",
          "mode": "list",
          "cachedResultName": "T-Shirt Respuestas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OWYFxtxHLpfDpwxa26euIUjXNG4qPO9rh40_ny-3778/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1236660838,
          "mode": "list",
          "cachedResultName": "Respuestas de formulario 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OWYFxtxHLpfDpwxa26euIUjXNG4qPO9rh40_ny-3778/edit#gid=1236660838"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha de verificación": "={{ $now }}",
            "Verificado": "={{ !!$json.isSuccess }}",
            "Dirección de correo electrónico": "={{ $json['Dirección de correo electrónico'] }}"
          },
          "matchingColumns": [
            "Dirección de correo electrónico"
          ],
          "schema": [
            {
              "id": "Marca temporal",
              "displayName": "Marca temporal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Talla de camiseta",
              "displayName": "Talla de camiseta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comentarios adicionales",
              "displayName": "Comentarios adicionales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dirección de correo electrónico",
              "displayName": "Dirección de correo electrónico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Verificado",
              "displayName": "Verificado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha de verificación",
              "displayName": "Fecha de verificación",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1664,
        272
      ],
      "id": "0958fca0-3b14-4a5c-a730-7649b811851d",
      "name": "Marcar verificado la order",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "v9l6XFDnPiSeFjl9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "inventory",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1440,
        592
      ],
      "id": "c097808c-b450-40f5-87c4-8c2fe51c98bc",
      "name": "Extraer nuevo inventario"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1OWYFxtxHLpfDpwxa26euIUjXNG4qPO9rh40_ny-3778",
          "mode": "list",
          "cachedResultName": "T-Shirt Respuestas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OWYFxtxHLpfDpwxa26euIUjXNG4qPO9rh40_ny-3778/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1616070199,
          "mode": "list",
          "cachedResultName": "T-Shirt Inventario",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OWYFxtxHLpfDpwxa26euIUjXNG4qPO9rh40_ny-3778/edit#gid=1616070199"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Inventario": "={{ $json.Inventario }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Producto",
              "displayName": "Producto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Talla",
              "displayName": "Talla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Inventario",
              "displayName": "Inventario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1664,
        592
      ],
      "id": "3e6af274-6ca2-4d99-878e-ae66619096a8",
      "name": "Actualizar inventario",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "v9l6XFDnPiSeFjl9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Google Sheet\nActualizar respuestas",
        "height": 288,
        "width": 512,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1344,
        144
      ],
      "id": "befad6a6-cec9-431e-835a-ce810f7b2429",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Google Sheet\nActualizar inventario",
        "height": 288,
        "width": 512,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1344,
        464
      ],
      "id": "248a7073-41a2-4908-80ce-c1a901c88a43",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2016,
        400
      ],
      "id": "a75beff9-995b-47f8-9356-c57d197d8b5b",
      "name": "Unir ramas"
    },
    {
      "parameters": {
        "sendTo": "mateosolano65@gmail.com",
        "subject": "Actualización de camisetas",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n  <head>\n    <meta charset=\"UTF-8\" />\n    <title>Actualización completada</title>\n  </head>\n  <body style=\"font-family: Arial, sans-serif; background: #f7f7f7; padding: 20px;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width: 600px; margin: auto; background: #fff; padding: 20px; border: 1px solid #ddd;\">\n      <tr>\n        <td>\n          <h2 style=\"color: #49129c; margin-top: 0;\">Actualización de camisetas completada</h2>\n          <p>Hola Mateo,</p>\n          <p>El proceso de actualización de camisetas ha finalizado correctamente.</p>\n          <p>Fecha: <strong>{{$now.format('yyyy-MM-dd')}}</strong></p>\n          <p>Gracias por tu atención.</p>\n        </td>\n      </tr>\n    </table>\n\n\n<h1>Cambios</h1>\n{{ $('Reducir inventario').item.json.inventory.map(item => item.Talla)\n.join(', ') }}\n\n\n<h1>Personas</h1>\n{{ $('Reducir inventario').item.json.orders.map(item => item.Nombre).join(', ') }}\n\n\n\n  </body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2528,
        400
      ],
      "id": "5693171c-e021-445e-ab38-b269d55b9a29",
      "name": "Send a message",
      "webhookId": "70fb81a3-1b02-4782-a312-38714628abe3",
      "credentials": {
        "gmailOAuth2": {
          "id": "jhNtNDqu9xpWDMfc",
          "name": "Gmail Mateo Solano"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1OWYFxtxHLpfDpwxa26euIUjXNG4qPO9rh40_ny-3778",
          "mode": "list",
          "cachedResultName": "T-Shirt Respuestas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OWYFxtxHLpfDpwxa26euIUjXNG4qPO9rh40_ny-3778/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1236660838,
          "mode": "list",
          "cachedResultName": "Respuestas de formulario 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OWYFxtxHLpfDpwxa26euIUjXNG4qPO9rh40_ny-3778/edit#gid=1236660838"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -352,
        272
      ],
      "id": "4a6055fa-7854-4645-bcba-79a453c28729",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "uh4YnOQ9QhLpGTCj",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2256,
        400
      ],
      "id": "430f291d-fa9b-4b3e-98ff-cccece649116",
      "name": "Agrupar flujos"
    },
    {
      "parameters": {
        "content": "## Unir ramas",
        "height": 272,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1968,
        304
      ],
      "id": "f1a03b6f-15d1-4b05-9729-47e2bfe57056",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {
    "Obtener solicitudes de camisetas": [
      {
        "json": {
          "row_number": 2,
          "Marca temporal": "18/1/2026 20:22:47",
          "Nombre": "Mateo Solano",
          "Talla de camiseta": "L",
          "Comentarios adicionales": "Nada",
          "Dirección de correo electrónico": "mateosolano65@gmail.com",
          "Verificado": "",
          "Fecha de verificación": ""
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 3,
          "Marca temporal": "18/1/2026 20:33:18",
          "Nombre": "Alan Brito",
          "Talla de camiseta": "M",
          "Comentarios adicionales": "nn",
          "Dirección de correo electrónico": "alanbrito@gmail.com",
          "Verificado": "",
          "Fecha de verificación": ""
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Obtener solicitudes de camisetas": {
      "main": [
        [
          {
            "node": "Filtrar registros sin correo eletrónico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar registros sin correo eletrónico": {
      "main": [
        [
          {
            "node": "Agrupar solicitudes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupar solicitudes": {
      "main": [
        [
          {
            "node": "Obtener inventario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener inventario": {
      "main": [
        [
          {
            "node": "Agrupar inventario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupar inventario": {
      "main": [
        [
          {
            "node": "Reducir inventario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reducir inventario": {
      "main": [
        [
          {
            "node": "Extraer detalle de ordenes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extraer nuevo inventario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer detalle de ordenes": {
      "main": [
        [
          {
            "node": "Marcar verificado la order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer nuevo inventario": {
      "main": [
        [
          {
            "node": "Actualizar inventario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar inventario": {
      "main": [
        [
          {
            "node": "Unir ramas",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Marcar verificado la order": {
      "main": [
        [
          {
            "node": "Unir ramas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unir ramas": {
      "main": [
        [
          {
            "node": "Agrupar flujos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Obtener solicitudes de camisetas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupar flujos": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d8e2f633-c5ed-4308-8c9b-c219738fd5d4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "399c6b7fb0c76aad2649abb2cf323129cc47a011ac79e0c392af61181ab44641"
  },
  "id": "tYmx_u85atD5FkiTaNeZv",
  "tags": []
}