Simpsons Scraper.json
{
  "name": "Simpsons Scraper",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1216,
        112
      ],
      "id": "1e4ff6ee-4040-4c45-bd65-7a2a2bae7617",
      "name": "Click"
    },
    {
      "parameters": {
        "content": "## Google Sheet\nObtener IDS de los Simpsons",
        "height": 240,
        "width": 272,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1104,
        32
      ],
      "typeVersion": 1,
      "id": "4e8e0c64-23d9-40bb-b1f5-f71e9410d96d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Google Sheet\nGuardar información en el documento",
        "height": 320,
        "width": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "77a96eef-dda7-4e46-98d6-50831dfb48b1",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Filtro\nÚnicamente pasan los que no tienen nombre",
        "height": 240,
        "width": 304,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -816,
        32
      ],
      "id": "c2af9c79-8547-48a5-b970-cac1782de25f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## HTTP\nTraer información de los Simpsons",
        "height": 272,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -464,
        16
      ],
      "id": "4db5054e-87c8-4210-a295-fb9f2a189a75",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "sendTo": "mateosolano65@gmail.com",
        "subject": "El proceso de migración terminó",
        "message": "=<h1>Proceso terminó </h1>\n\n<h2>Nuevos Simpsons  ( {{ $json.ID.length }} ) con los ids: </h2> <br>\n{{ $json.ID }} \n<br/>\n{{ $json.Nombre }} \n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        720,
        112
      ],
      "id": "939c0c8f-5f5b-4dfe-b470-197407351fdd",
      "name": "Enviar correo de resultado del proceso",
      "webhookId": "051d212b-7134-4612-b2ae-4bbbde23a7d8",
      "credentials": {
        "gmailOAuth2": {
          "id": "jhNtNDqu9xpWDMfc",
          "name": "Gmail Mateo Solano"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Nombre"
            },
            {
              "fieldToAggregate": "ID"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        416,
        112
      ],
      "id": "3fa1b4fa-a2f1-47d9-bedf-63e0363531b4",
      "name": "Agrupar resultados"
    },
    {
      "parameters": {
        "content": "## Agupar\nDatos de salida",
        "height": 288,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        368,
        16
      ],
      "id": "6e750d8a-8e01-4f4b-983b-94d2aa5b7c3d",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Enviar correo\nCon el resumen del proceso",
        "height": 288,
        "width": 358,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        608,
        16
      ],
      "id": "c87b3c43-7873-42ae-8abd-381d2f92d7f3",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15l6Ibh80FSZMPu5S8kWsqqE9ZqgXM02XwNJJXvdEBso",
          "mode": "list",
          "cachedResultName": "Simpsons Tabla",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15l6Ibh80FSZMPu5S8kWsqqE9ZqgXM02XwNJJXvdEBso/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Simpsons List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15l6Ibh80FSZMPu5S8kWsqqE9ZqgXM02XwNJJXvdEBso/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1008,
        96
      ],
      "id": "9b35f117-7fe4-40f2-9179-3ebeb89d7a20",
      "name": "Obtener ids de Simpsons",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "v9l6XFDnPiSeFjl9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9cf8806b-b433-4d5f-9d01-29163f2e31b7",
              "leftValue": "={{ $json.Nombre }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -704,
        112
      ],
      "id": "afc8694f-196b-4d8c-994d-ebb34f8f977d",
      "name": "Filtrar Simpsons a buscar"
    },
    {
      "parameters": {
        "url": "=https://thesimpsonsapi.com/api/characters/{{ $json.ID }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -384,
        112
      ],
      "id": "a8f5e4ed-be83-4bea-94be-2665ecb261b0",
      "name": "Obtener información Simpsons"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c21421ca-c4fb-4b94-8dfe-f506480cb200",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "397c5e7d-2d22-447c-90b6-785400fab64b",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "4b889f2e-97f0-4273-bcf3-d5261af9bd07",
              "name": "date_birthday",
              "value": "={{ $json.birthdate }}",
              "type": "string"
            },
            {
              "id": "46d23461-2e8c-431b-ab59-70036e789533",
              "name": "portrait_path",
              "value": "=https://cdn.thesimpsonsapi.com/500{{ $json.portrait_path }}",
              "type": "string"
            },
            {
              "id": "5f28249b-fb55-4314-8994-f29463cd00be",
              "name": "first_appearance",
              "value": "=https://cdn.thesimpsonsapi.com/500{{ $json.first_appearance_ep.image_path }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -208,
        112
      ],
      "id": "eb79ae73-fab8-45f8-89bd-428ba64335b1",
      "name": "Extraer datos del Simpson"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "15l6Ibh80FSZMPu5S8kWsqqE9ZqgXM02XwNJJXvdEBso",
          "mode": "list",
          "cachedResultName": "Simpsons Tabla",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15l6Ibh80FSZMPu5S8kWsqqE9ZqgXM02XwNJJXvdEBso/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Simpsons List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15l6Ibh80FSZMPu5S8kWsqqE9ZqgXM02XwNJJXvdEBso/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.id }}",
            "Nombre": "={{ $json.name }}",
            "Fecha nacimiento": "={{ $json.date_birthday }}",
            "Retrato": "={{ $json.portrait_path }}",
            "Imagen Primer episodio": "={{ $json.first_appearance }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha nacimiento",
              "displayName": "Fecha nacimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Retrato",
              "displayName": "Retrato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Imagen Primer episodio",
              "displayName": "Imagen Primer episodio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        112,
        112
      ],
      "id": "edde7186-2271-4d3a-a54e-492ac8847f17",
      "name": "Actualizar información de Simpsons",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "v9l6XFDnPiSeFjl9",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {
    "Obtener ids de Simpsons": [
      {
        "json": {
          "row_number": 2,
          "ID": 1,
          "Nombre": "",
          "Fecha nacimiento": "",
          "Retrato": "",
          "Imagen Primer episodio": ""
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 3,
          "ID": 2,
          "Nombre": "",
          "Fecha nacimiento": "",
          "Retrato": "",
          "Imagen Primer episodio": ""
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 4,
          "ID": 3,
          "Nombre": "",
          "Fecha nacimiento": "",
          "Retrato": "",
          "Imagen Primer episodio": ""
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 5,
          "ID": 4,
          "Nombre": "",
          "Fecha nacimiento": "",
          "Retrato": "",
          "Imagen Primer episodio": ""
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 6,
          "ID": 5,
          "Nombre": "",
          "Fecha nacimiento": "",
          "Retrato": "",
          "Imagen Primer episodio": ""
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 7,
          "ID": 6,
          "Nombre": "",
          "Fecha nacimiento": "",
          "Retrato": "",
          "Imagen Primer episodio": ""
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Click": {
      "main": [
        [
          {
            "node": "Obtener ids de Simpsons",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupar resultados": {
      "main": [
        [
          {
            "node": "Enviar correo de resultado del proceso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener ids de Simpsons": {
      "main": [
        [
          {
            "node": "Filtrar Simpsons a buscar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Simpsons a buscar": {
      "main": [
        [
          {
            "node": "Obtener información Simpsons",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener información Simpsons": {
      "main": [
        [
          {
            "node": "Extraer datos del Simpson",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer datos del Simpson": {
      "main": [
        [
          {
            "node": "Actualizar información de Simpsons",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar información de Simpsons": {
      "main": [
        [
          {
            "node": "Agrupar resultados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "bb85bb1a-fc68-4fa4-a9eb-e33d625e4c49",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "399c6b7fb0c76aad2649abb2cf323129cc47a011ac79e0c392af61181ab44641"
  },
  "id": "WZfw0P6Gu1DzXK6uOtFA7",
  "tags": [
    {
      "updatedAt": "2026-01-05T16:22:42.880Z",
      "createdAt": "2026-01-05T16:22:42.880Z",
      "id": "bP0ppwyABdoxWjn3",
      "name": "primer workflow"
    },
    {
      "updatedAt": "2026-01-05T16:22:42.887Z",
      "createdAt": "2026-01-05T16:22:42.887Z",
      "id": "hLUknzdCaK5fbW32",
      "name": "pokemons"
    }
  ]
}